name: My First Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repo
          uses: actions/checkout@v4 # Uses instead of run Because its Actions

        - name: Welcome message
          run: echo "My First GitHub Actions"

        - name: List files
          run: ls
        
        - name: Read file
          run: cat README.md
        
        - name: Multi- Line Commands
          run: |
            echo "My First GitHub Actions"
            ls
            cat README.md
        
        - name: Execute Shell Script
          run: ./ascii-script.sh

            